# git+git://github.com/erikwijmans/etw_pytorch_utils.git@v1.1.1#egg=etw_pytorch_utils   # original
git+https://github.com/chenzhutian/etw_pytorch_utils.git@v1.1.0#egg=etw_pytorch_utils   # BERNARDO
h5py
numpy
# torch>=1.0
# torchvision
# pprint   # original
enum34
future
pykeops
geomloss
ninja
